/* StartPage.css */

.container {
    background-color: white;
  }
  
  .logo-container {
    height: 100px;
  }
  
  .logo {
    height: 200px;
  }
  
  .content-container {
    background-color: rgba(244, 244, 244, 0.6);
    border-radius: 80px 80px 0 0;
  }
  
  .content {
    padding: 50px 0;
    text-align: center;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .description {
    font-size: 16px;
    color: #666;
  }
  
  .button {
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
  